<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../assets/css/account.css">
</head>
<body>

    <div class="page-container">
        <h1 class="title">SHUTTLE WITH YOU, <span class="italic">EVERYWHERE.
        </span></h1>
        <p class="description">Create a shuttle account to keep<br>your bookmarks <span class="italic">everywhere</span> you go.</p>
        
        <div class="form">
            <h4 class="methode">Log-in <span class="error"></span></h4>
            <input id="email_textbox" class="textbox" type="email" placeholder="E-MAIL">
            <input id="pass_textbox" class="textbox" type="password" placeholder="PASSWORD">
            <input id="conf_pass_textbox" class="textbox" type="password" placeholder="CONFIRM PASSWORD">
            <a href="#" class="methodeBtn btn">LOG-IN</a>
            <p class="askOtherMethode">YOU DON'T HAVE ANY ACCOUNT ? <a href="#" onclick="ui.signup()" class="link">SIGN-UP</a> HERE</p>
        </div>
    
    </div>
    <p class="temsOfUse">BY LOG-IN, YOU ALSO ACCEPT <a href="#" class="link gray">GENERAL TERMS OF USE</a></p>
    <a href="#" class="close"></a>
</body>

<script src="../app/modules/account.js"></script>

</html>