<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>Changelog</title>
	<link rel="stylesheet" href="../assets/css/changelog.css">

</head>
	<body>

		<div id="fullpage">
			<div class="section1 section" data-anchor="page0" align="center">
				<img onmousedown="return false" class="sht-w" src="../assets/img/changelog-icon.png" alt="">
				<img onmousedown="return false" class="sht-full" src="../assets/img/changelog-logo.png" alt="">
				<p class="version">2.0.0</p>
			</div>
	</body>
</html>