<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Settings</title>
	<link rel="stylesheet" href="../assets/css/settings.css">

	<script src="../assets/js/FileSaver.js"></script>

</head>
<body>

<br>
<br>
<h1>GENERAL</h1>
<div class="content">

	<div class="section gray">
		<p id="SAboot">start at boot</p>
		<label class="switch">
		  <input type="checkbox" name="SAboot">
		  <span class="slider round"></span>
		</label>
	</div>
	
	<div class="section white">
		<p id="SOpen">stay open</p>
		<label class="switch">
		  <input type="checkbox" name="SOpen">
		  <span class="slider round"></span>
		</label>
	</div>

	<div class="section gray">
		<p id="SFrame">show frame</p>
		<label class="switch">
		  <input type="checkbox" name="SFrame">
		  <span class="slider round"></span>
		</label>
	</div>

</div>
<br>
<h1 id="bkms">BOOKMARKS</h1>
<div class="content">

	<div class="section gray">
		<p id="Export">export bookmarks</p>
		<input type="button" name="download" class="btn">
	</div>

	<div class="section white">
		<p id="Import">import bookmarks</p>
		<input type="button" name="upload" class="btn">
	</div>

	<div class="section gray">
		<p id="Reset">reset bookmarks</p>
		<input type="button" name="reset" class="btn">
	</div>

</div>
<br>
<h1 id="devtitle">ADVANCED</h1>
<div class="content">

	<div class="section gray">
		<p id="dmod">developper mode</p>
		<label class="switch">
		  <input type="checkbox" name="DevMod">
		  <span class="slider round"></span>
		</label>
	</div>

	<div class="section white">
		<p id="shcons">show console</p>
		<input type="button" name="ShowConsole" class="btn">
	</div>

	<div class="section gray">
		<p id="rep">report a bug</p>
		<input type="button" name="report" class="btn">
	</div>
	
</div>
<br>
<br>
<div class="bar-bottom white">
	<p class="version">VERSION 2.0</p>
</div>

</body>

<script type="text/javascript" src="../app/modules/settings.js" async></script>

</html>