.title-bar {
	height: 20px;
	position: fixed;
	top: -20px;
	left: 1px;
	right: 1px;
	background-color: #F4F4F4;
	-webkit-app-region: drag;
	z-index: 99999;
	transition: 0.5s;
}

.title-bar-btn {
	position: absolute;
	right: 5px;
}

.title-bar-btn-minimize {
	position: absolute;
	right: 35px;
	top: 3px;
	-webkit-app-region: no-drag;
}

.title-bar-btn-close {
	position: absolute;
	right: 5px;
	top: 1px;
	-webkit-app-region: no-drag;
}

.title-bar-btn-close svg {
	width: 10px;
	height: 10px;
}

.title-bar-btn-ctr {
    width: 15px;
    height: 15px;
    -webkit-app-region: no-drag;
    color: black;
    opacity: 0.5;
    shape-rendering: crispEdges;
}