@font-face {
    font-family: 'Inconsolata';
    src: url('inconsolata-bold-webfont.woff') format('woff');
    font-weight: bold;
}
@font-face {
    font-family: 'Inconsolata';
    src: url('inconsolata-regular-webfont.woff') format('woff');
    font-weight: normal;
}