@font-face {
    font-family: Source Sans Pro Regular;
    src: url(../fonts/SourceSansPro-Regular.ttf);
}
@font-face {
    font-family: Source Sans Pro Light;
    src: url(../fonts/SourceSansPro-Light.ttf);
}

.auth {
	margin-left: 50px;
	margin-right: 50px;
}

h1 {
  margin-top: 90px;
  font-family: 'Source Sans Pro Light', sans-serif;
  font-size: 12pt;
  color: #000000;
}

p {
  font-family: 'Source Sans Pro Regular', sans-serif;
  font-size: 11pt;
  margin: 0;
}

.sign-text {
  font-family: 'Source Sans Pro Light', sans-serif;
  margin-top: 5px;
  text-align: center;
  font-size: 8.5pt;
}

a {
  color:  #E7165F;
  font-weight: bold;
  text-decoration: none;
}

input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 10px 20px;
    margin-top: 20px;
    display: inline-block;
    border: none;
    background-color: #FAF9F9;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 25px
}

input[type=submit] {
    width: 100%;
    background-color: #E7165F;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 25px
}

input[type=submit]:hover {
    background-color: #E7165F;
}