@font-face {
    font-family: Source Sans Pro Regular;
    src: url(../fonts/SourceSansPro-Regular.ttf);
}
@font-face {
    font-family: Source Sans Pro Light;
    src: url(../fonts/SourceSansPro-Light.ttf);
}

html {
}

body {
	margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.bar {
	background-color: #F1F1F1;
	width: 100%;
	height: 10px;
	-webkit-app-region: drag;
	position: fixed;
	top: 0;
	z-index: 999999;
}

.section {
  width: 100%;
  height: 30px;
}
.white {
  background-color: #ffffff;
}
.gray {
  background-color: #FAFAFA
}
.section .btn {
  margin-top: 6px;
}
.section .switch {
  margin-top: 6px;
}
.section p {
  position: absolute;
  left: 20px;
  margin-top: 4.5px;
  font-family: 'Source Sans Pro Regular', sans-serif;
  font-size: 11pt;
}

.close {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.close img {
  width: 15px;
  height: 15px;
}

h1 {
  margin-top: 15px;
  font-family: 'Source Sans Pro Light', sans-serif;
  font-size: 12pt;
  color: #000000;
  position: absolute;
  left: 20px;
}

.content {
	margin-top: 40px;
}

p.version {
  font-family: 'Source Sans Pro Regular', sans-serif;
	color: #C3C3C3;
	position: fixed;
	bottom: 12.5px;
	left: 12.5px;
	margin: 0;
  font-size: 8.5pt;
}

.bar-bottom {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
}

/* button */

.btn  {
  width: 50px;
  height: 17px;
  background-color: #e71f5f;
  border-radius: 34px;
  border:none;
  position: absolute;
  right: 20px;
  transition-duration: 0.3s;
}
.btn:hover {
  background-color: #EB5C7B;  
  border-radius: 12px;
}

input:disabled {
  background-color: #BFBFBE;
}
input:disabled:hover {
  background-color: #BFBFBE;
}

/* Switch button */

.switch {
  position: absolute;
  right: 20px;
  width: 50px;
  height: 17px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #BFBFBE;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #e71f5f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #e71f5f;
}

input:checked + .slider:before {
  transform: translateX(31px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}







.slider.round:before {
  border-radius: 50%;
}

::-webkit-scrollbar {
    width: 5px; height: 0px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: grey;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }

::selection {
  color: #eb5c7b;
  background: #f9f6f0;
}