body {
	margin: 0;
}

webview {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 30px;
	right: 0px;
}

.bkms-bar {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 35px;
	background-color: #F4F4F4;
	text-align: center;
}	

.shuttle-btn img {
	background: url(../img/ic.svg) no-repeat center;
	width: 70%;
	transition: 0.2s;
	margin-top: 20px;
}
.shuttle-btn img:hover {
	background: url(../img/ic-hover.svg) no-repeat center;
}

.bkms-bar hr {
	margin-left: 5px;
	margin-right: 5px;
}

.bubble-btn {
	margin-top: 4px;
	margin-left: 2.5px;
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	transition: 0.2s;
	background-color: white;
	background-size: 80% auto;
	background-color: #ffff;
	background-repeat: no-repeat;
	background-position: center; 
}
.bubble-btn:hover {
	border-radius: 25%;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}