.browser {
    overflow: hidden;
  }
  
  .settings {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 35px;
    z-index: 97;
    background-color: white;
    display: none;
    overflow: auto;
  }
  
  .store {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 35px;
    z-index: 96;
    background-color: white;
    display: none;
    overflow: auto;
  }
  
  webview {
      background-color: #ffff;
  }
  
  .web-content {
    position: absolute;
    left: 35px;
    right: 0;
    top: 0;
      bottom: 0;
      background-color: #ffff;
  }
  
  .active {
    opacity: 1;
    z-index: 10;
  }
  
  .inactive {
    opacity: 0;
    z-index: 0;
  }
  
  ::-webkit-scrollbar { 
      width: 0px; 
      height: 0px; 
  }
  
  .nav-zone {
      position: absolute;
      top: 50px;
      left: 0;
      bottom: 0px;
      width: 35px;
      overflow: auto;
  }
  
  .bar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 35px;
    background-color: #F4F4F4;
  }
  
  .bubble-btn {
      margin-top: 4px;
      margin-left: 1.5px;
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      transition: 0.2s;
      background-color: white;
      background-size: 70% auto;
      background-color: #ffff;
      background-repeat: no-repeat;
      background-position: center; 
  }
  .bubble-btn:hover {
      border-radius: 25%;
  }
  
  .quickSearchBubble {
    position: relative;
    left: 17px;
    border-radius: 50%;
    top: -1px;
    width: 15px;
    height: 15px;
    background-size: 70% auto;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 1.4px 2px;
  }
  
  .add-btn {
      margin-top: 4px;
      margin-left: 4px;
      display: block;
      width: 27px;
      height: 27px;
      transition: 0.2s;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center; 
      background-image: url(../../assets/img/add.svg);
      transition: 0.5s;
  }
  
  .add-btn:hover {
      background-image: url(../../assets/img/add-hover.svg)
  }
  
  hr {
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 2.5px;
  }
  
  .shuttle-btn {
      margin-top: 11px;
      margin-left: 2px;
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-size: 60% auto;
      background-repeat: no-repeat;
      background-position: center; 
      background-image: url(../../assets/img/bar-icon.png);
      transition: 0.2s;
  }
  .shuttle-btn:hover {
      background-image: url(../../assets/img/bar-icon-hover.png);
  }
  
  .control-bar {
    display: none;
      position: absolute;
    top: 50px;
    left: 35px;
    width: 30px;
    height: 128px;
    background-color: #F4F4F4;
    text-align: center;
    transition: 0.35s;
    z-index: 150;
  }
  
  .control-bar svg {
      margin-top: 11px;
    color: #CECECE;
    transition: 0.3s;
  }
  
  .control-bar svg:hover {
    color: #7F7F7F;
  }
  
  .mainMenu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 34.9px;
    height: 100px;
    background-color: #F4F4F4;
    text-align: center;
  }
  .svg-inline--fa {
    width: auto;
    height: 1em;
    font-size: 16px;
    margin-top: 7.5px;
    margin-right: 1px;
    text-decoration: none;
    color: #CECECE;
    transition: 0.3s;
  }
  .svg-inline--fa:hover {
    color: #7F7F7F
  }
  hr {
    margin: 2.5px 5px 6px;
  }