@import url(../fonts/SourceSansPro.css);

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
    overflow: hidden;
}

.arrow-w {
	width: 70px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 30px;
}

.sht-full {
	width: 100px;
}
.sht-w {
	max-width: 180px;
	margin: 4em 0 2em;
}

.version {
	text-decoration: underline;
	margin: 1em 0 2em;
}

.section1 {
	text-align: center;
	width: 100%;
	height: 100vh;
	background-color: #E7165F;
	border-bottom-left-radius: 180px 50px;
	border-bottom-right-radius: 180px 50px;
	overflow: hidden;
	height: 100%;
	color: white;
}

.section1 > * {
	display: inline-block;
	vertical-align: middle;
}
.section1 span.taille {
	height: 100%;
}
.section1 #content {
	width: 100%;
}
.section1 #content > * {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.section1 iframe {
	width: 90%;
	height: 148px;
	margin-bottom: 2em;
}

.section2 {
	background-color: #ffffff;
	width: 100%;
	height: 100vh;
}

::selection {
  color: #eb5c7b;
  background: #f9f6f0;
}

/* CHANGELOG CSS */

ul {
	list-style-type: none;
	margin-top: 0;
}
li:before {
	content: "- ";
	font-size: 9.5pt;
    font-family: 'Source Sans Pro', sans-serif;
}
li {
	font-size: 9.5pt;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left:-36px;
    color: #7F7F7F;
}
li span {
	color: #C3C3C3;
    font-family:  'Source Sans Pro', sans-serif;
	font-size: 8.5pt;
}

.changelog-v {
	color: #C3C3C3;
    font-family: 'Source Sans Pro', sans-serif;
	font-size: 8.5pt;
}

.content {
	margin-left: 30px;
	position: absolute;
	top: 50px;
	font-family:'Source Sans Pro', sans-serif;
	font-weight: 300;
}

.changelog {
	line-height:5px;
}

.title {
    font-family:'Source Sans Pro', sans-serif;
	font-weight: 300;
    font-size: 11.5pt;
}

.ads {
	background-color: #E7165F;
	height: 50px;
	position: absolute;
	left: 10px;
	right: 10px;
}

.bg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #E71F5F, #eb5c7b);
  background-repeat: no-repeat;
  background-size: 1000% 1000%;
  animation: gradient 50s ease infinite;
}

@keyframes gradient { 
  0%{background-position:0% 0%}
  50%{background-position:100% 100%}
  100%{background-position:0% 0%}
}

#searchbarcontainer {
	position: absolute;
	top: 1.5em;
	left: 1.5em;
	right: 1.5em;
	z-index: 3;
}
#searchbarcontainer * {
	transition: all .25s ease;
}
#searchbar {
	position: relative;
	color: white;
	overflow: hidden;
}
#searchbar input {
	display: block;
	width: calc(100% - 4em);
	margin-left: 1em;
	border: 0px none;
	background: transparent;
	color: inherit;
	line-height: 1.5em;
	font-size: 1em;
	font-family: inherit;
	outline: none;
	opacity: .5;
}
:invalid {
	box-shadow: none;
}
:-moz-submit-invalid {
	box-shadow: none;
}
:-moz-ui-invalid {
	box-shadow:none;
}
#searchbar input:valid + #background span{
	display: none;
}
#searchbar img {
	position: absolute;
	top: 0;
	right: 0;
	height: 3em;
	width: 3em;
}
#searchbar img {
	max-height: 100%;
	max-width: 100%;
}
#searchbar #background {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #EB5C7B;
	line-height: 1.5em;
	text-align: left;
	padding-left: 1.2em;
	color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
#searchbar #background span {
	opacity: 0.5;
	font-size: .9em;
}
#searchbar img#searchsubmit {
	opacity: .5;
	transform: scale(.5) translateY(-10em);
	-webkit-filter: drop-shadow(0 10em 0 white);
  filter: drop-shadow(0 10em 0 white);
}
#searchbar img#close {
	transform: scale(.35) translateY(-10em);
	opacity: 0;
	-webkit-filter: drop-shadow(0 10em 0 #e71F5F);
  filter: drop-shadow(0 10em 0 #e71F5F);
}

#searchbar:hover input, #searchbar:hover #background span, #searchbar:hover #searchsubmit {
	opacity: 1;
}

#searchbar input:focus, #searchbar input:focus + #background span, #searchbar input:focus + span + #searchbarsubmit {
	opacity: 1;
}
#searchbar input:focus, #searchbar input:focus + #background {
	color: #E71F5F;
}
#searchbar input:focus + #background {
	background: white;
}
#searchbar input:focus + span + img + #close {
	opacity: 1;
}

/* carbon */
#carbonads {
    display: block;
    overflow: hidden;
    padding: 1em;
    font-size: 1.02em;
    line-height: 1.5;
    margin-left: -15px;
    margin-right: 15px;
    background-color: #F4F4F4;
    transition: 0.5s;
}

#carbonads:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#carbonads span {
    display: block;
    overflow: hidden;
}

#carbonads a {
	text-decoration: none;
    color: #7F7F7F;
}

.carbon-img {
    float: left;
    margin-right: 1em;
}
.carbon-text {
    display: block;
    float: left;
    max-width: 50%;
    text-align: left;
}
.carbon-poweredby {
    float: right;
    text-align: right;
    width: 100%;
    font-size: 70%;
}