<div class="appStore">

  <div class="store-header">
    <input type="text" class="store-search-bar" placeholder="SHUTTLE - ADDONS STORE">
    <a onclick="store.popup.search(true)" href="#" class="store-search-icon"></a>
    <a onclick="store.popup.search(false)" href="#" class="store-search-close-icon"></a>
  </div>
  <div class="store-content">
    <div class="store-home">
      <h1 class="store-title">HOME</h1>
      <br>
      <br>
      <div class="store-trending-app">
        <a href="#">
          <div class="store-trending-add-button">
            <p class="store-trending-add-button-text">ADD TO SHUTTLE</p>
            <i class="store-trending-add-button-icon"></i>
          </div>
        </a>
      </div>

      <div class="store-rencent-app">
        <div class="store-apps">
            <h4 class="store-app-title">Recently added</h4>
            <div class="store-app-collection">

              <div class="store-app-collection-item">
                <img class="store-app-collection-item-img" src="http://www.toucharger.com/media/files/data/Articles/Masquer%20num%C3%A9ro%20messenger/facebook_messenger1600.png" alt="">
                <h4 class="store-app-collection-item-name">Messenger</h4>
                <p class="store-app-collection-item-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="#" class="store-app-collection-item-add-btn"></a>
              </div>

              <div class="store-app-collection-item">
                  <img class="store-app-collection-item-img" src="https://www.google.com/gmail/about/images/favicon.ico" alt="">
                  <h4 class="store-app-collection-item-name">GMail</h4>
                  <p class="store-app-collection-item-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                  <a href="#" class="store-app-collection-item-add-btn"></a>
              </div>

              <div class="store-app-collection-item">
                <img class="store-app-collection-item-img" src="https://abs.twimg.com/responsive-web/web/ltr/icon-ios.8ea219d08eafdfa4.png" alt="">
                <h4 class="store-app-collection-item-name">Twitter</h4>
                <p class="store-app-collection-item-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="#" class="store-app-collection-item-add-btn"></a>
              </div>

            </div>
        </div>
      </div>

    </div>
    
    <div class="store-search">
      <h1 class="store-title">RESULT</h1>
      <br>
      <div class="store-apps">
          <div id="apps" class="store-app-collection"></div>
      </div>

    </div>

  </div>

  <div class="popup">

  </div>
</div>

<style>

</style>