<div class="appStore">

  <div class="store-header">
    <input type="text" class="store-search-bar" placeholder="SHUTTLE - ADDONS STORE">
    <a onclick="store.front.showSearchResults(true)" href="#" class="store-search-icon"></a>
    <a onclick="store.front.showSearchResults(false)" href="#" class="store-search-close-icon"></a>
  </div>
  <div class="store-content">
    <div class="store-home">
      <h1 class="store-title">HOME</h1>
      <br>
      <br>
      <div class="store-trending-app">
        <a href="javascript:" onclick="" class="store-trending-add-button">
          <p class="store-trending-add-button-text">ADD TO SHUTTLE</p>
          <i class="store-trending-add-button-icon"></i>
        </a>
      </div>

      <div class="store-rencent-app">
        <div class="store-apps">
            <h4 class="store-app-title">Recently added</h4>
            <div class="store-app-collection" id="recently"></div>
        </div>
      </div>

    </div>
    
    <div class="store-search">
      <h1 class="store-title">RESULT</h1>
      <br>
      <div class="store-apps">
          <div id="apps" class="store-app-collection"></div>
      </div>

    </div>

  </div>

  <div class="popup">
    <div class="store-in-app" id="store-modal-container">
      <a href="#" class="store-in-app-close" onclick="store.front.modal.showAppInstallation(false)"></a>
      <h1 class="store-title" id="store-modal-title">${name.toUpperCase()}</h1>
      <br>
      <br>
      <div class="store-in-app-background" id="store-modal-banner"></div>
      <div class="store-in-app-content">
        <h4 class="store-in-app-title" id="store-modal-app-name">${name}</h4>
        <a href="javascript:" id="store-action-button" onclick="store.front.modal.install('${uuid}', '${type}')">
          <div class="store-in-app-button">
            <p class="store-in-app-button-text" id="store-modal-button-text">${(store.isInstalled(uuid, type) ? lang('STORE_UNINSTALL_ADDON') : lang('STORE_ADD_ADDON'))}</p>
            <i class="store-in-app-button-icon"></i>
          </div>
        </a>
        <p class="store-in-app-description" id="store-modal-description">${description}</p>
        </div>
      </div>
  </div>

  <div class="updater-popup">
    <div class="updater-popup-content">
      <h3 class="updater-title">Updating ${name}...</h3>
    </div>
  </div>
</div>

<style>
  .appStore a {
    color: #ee2568;
    text-decoration: none
  }

  .store-home {
    display: block;
  }

  .store-search {
    display: none;
  }

  .updater-popup {
    display: none;
    z-index: 99999;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5)
  }

  .updater-popup-content {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 80%;
    height: 60px;
    padding: 1em;
    text-align: center;
  }

  .store-in-app {
    display: none;
    z-index: 99999;
    padding: 1em;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    transition-duration: 0.5s;
    border: 16px solid rgba(0, 0, 0, 0.5);
  }

  .store-popup-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9998;
  }

  .store-search-bar {
    position: absolute;
    top: 18px;
    left: 0px;
    height: 30px;
    width: calc(100% - 70px);
    background-color: white;
    border: none;
    padding-left: 20px;
    font-size: 15px;
    color: #c8c8c7;
  }

  .store-search-bar::placeholder {
    color: #c8c8c7;
  }

  .store-search-icon {
    display: block;
    position: absolute;
    top: 26px;
    right: 20px;
    background: url(./assets/img/store/search.svg) no-repeat center;
    background-size: cover;
    width: 15px;
    height: 15px;
  }

  .store-search-close-icon {
    display: none;
    position: absolute;
    top: 26px;
    right: 20px;
    background: url(./assets/img/store/close.svg) no-repeat center;
    background-size: cover;
    width: 15px;
    height: 15px;
  }

  .store-content {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

  .store-title {
    margin: 0;
  }

  .store-trending-app {
    height: 200px;
    position: relative;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background: no-repeat center;
    background-size: cover;
  }

  .store-trending-app:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(./assets/img/store/gradient-p.png) no-repeat center;
    background-size: cover;
  }

  .store-trending-add-button {
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 150px;
    height: 30px;
    background-color: white;
    transition-duration: 0.3s;
  }

  .store-trending-add-button:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.12);
  }

  .store-trending-add-button-text {
    padding: 0;
    margin-top: 7px;
    margin-left: 10px;
    font-size: 13px;
  }

  .store-trending-add-button-icon {
    position: absolute;
    padding: 0;
    right: 10px;
    top: 9px;
    background: url(./assets/img/store/add.svg) no-repeat center;
    background-size: cover;
    width: 12px;
    height: 12px;
  }

  .store-rencent-app {
    position: relative;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .store-app-collection-item {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 50px;
  }

  .store-app-collection-item-img {
    width: 50px;
    border-radius: 50%;
    background: #efefef;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.27);
  }

  .store-app-collection-item-name {
    position: absolute;
    top: 0;
    left: 65px;
    margin: 0;
    color: #ee2568;
    font-size: 14px;
    font-family: 'Source Sans Pro';
  }

  .store-app-collection-item-description {
    position: absolute;
    width: 67%;
    top: 20px;
    left: 65px;
    margin: 0;
    color: #c8c8c7;
    font-size: 13px;
    line-height: 1em;
  }

  .store-app-collection-item-add-btn {
    position: absolute;
    top: 5px;
    right: 0px;
    margin: 0;
    background: url(./assets/img/store/add.svg) no-repeat center;
    background-size: cover;
    width: 12px;
    height: 12px;
    opacity: .5;
    transition: all .5s
  }
  .store-app-collection-item-add-btn:hover {
    opacity: 1;
  }

  .store-in-app-background {
    height: 200px;
    position: relative;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .store-in-app-content {
    margin-left: 10px;
    margin-right: 10px;
    word-wrap:break-word;
  }

  .store-in-app-title {
    color: #ee2568;
  }

  .store-in-app-button {
    position: absolute;
    right: 30px;
    top: 292px;
    width: 150px;
    height: 30px;
    background-color: white;
    transition-duration: 0.3s;
    border: solid 1px #ee2568;
  }

  .store-in-app-button:hover {
    background-color: #ee2568;
    color: white;
  }

  .store-in-app-button:hover > .store-in-app-button-icon {
    background-color: white;
  }

  .store-in-app-button-text {
    padding: 0;
    margin-top: 7px;
    margin-left: 10px;
    font-size: 13px;
  }

  .store-in-app-button-icon {
    transition: 0.3s;
    position: absolute;
    padding: 0;
    right: 10px;
    top: 9px;
    -webkit-mask: url(./assets/img/store/add.svg) no-repeat center;
    -webkit-mask-size: cover;
    background-color: #ee2568;
    display: inline-block;
    width: 12px;
    height: 12px;
  }

  .store-in-app-description {
    color: #c8c8c7;
  }

  .store-in-app-close {
    position: absolute;
    right: 20px;
    width: 13px;
    height: 13px;
    margin-top: 4px;
    background: url(./assets/img/store/close.svg) no-repeat center;
    background-size: cover;
  }

  .rotating {
    animation: rotating 2s linear infinite;
  }

  @keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>