<div class="account">
  <div class="page-container">
    <h1 class="title">SHUTTLE WITH YOU, <span class="italic">EVERYWHERE.</span></h1>
    <p class="description">Create a shuttle account to keep<br>your bookmarks <span class="italic">everywhere</span> you go.</p>
    <div class="form">
      <h4 class="methode"><span id="methodText">Sign in</span> <span class="error"></span></h4>
      <input id="email_textbox" class="textbox" type="email" placeholder="E-MAIL">
      <input id="pass_textbox" class="textbox" type="password" placeholder="PASSWORD">
      <input id="conf_pass_textbox" class="textbox" type="password" placeholder="CONFIRM PASSWORD" style="display: none">
      <a href="#" class="methodeBtn btn" onclick="auth.runMethod()">SIGNIN</a>
      <p class="askOtherMethode">YOU DON'T HAVE ANY ACCOUNT ? <a href="#" onclick="auth.tooggleMethod()" class="link">SIGN-UP</a> HERE</p>
    </div>
  </div>
  <p class="termsOfUse" onclick="auth.openTermOfUse()">BY LOGGING IN, YOU ALSO ACCEPT <a href="#" class="link gray">GENERAL TERMS OF USE</a></p>
  <a href="#" onclick="auth.closeView()" class="close"></a>
</div>