<div class="account">
  <div class="page-container">
    <h1 class="title"></h1>
    <p class="description"></p>
    <div class="form">
      <h4 class="methode"><span id="methodText">Sign in</span> <span class="error"></span></h4>
      <input id="email_textbox" class="textbox" type="email" />
      <input id="pass_textbox" class="textbox" type="password" />
      <input id="conf_pass_textbox" class="textbox" type="password" style="display: none" />
      <a href="#" class="methodeBtn btn" onclick="auth.runMethod()">SIGNIN</a>
      <p class="askOtherMethode">YOU DON'T HAVE ANY ACCOUNT ? <a href="#" onclick="auth.tooggleMethod()" class="link">SIGN-UP</a> HERE</p>
    </div>
  </div>
  <p class="termsOfUse" onclick="auth.openTermOfUse()"></a></p>
  <a href="#" onclick="auth.closeView()" class="close"></a>
</div>
<style>

.account {
  font-family: 'Source Sans Pro';
  z-index: 9998;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
}

.page-container {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 35px;
}

.form {
  margin-top: 80px;
}

.title {
  font-size: 20px;
  font-weight: 300;
}

.description {
  color: #aeb1b2;
  font-size: 17px;
  font-weight: 300;
}

.methode {
  margin-left: 20px;
  font-size: 18px;
}

.textbox {
  width: 100%;
  height: 35px;
  border-width: 0px;
  border-radius: 25px;
  background-color: #fafafa;
  margin-bottom: 27px;
  padding-left: 15px;
  font-size: 12px;
  display: inline-block;
  box-sizing: border-box;
}

.textbox::placeholder {
  color: #c3c3c3;
}

.btn {
  background-color: #ee2568;
  border-radius: 25px;
  color: white;
  width: 100%;
  height: 35px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  padding-top: 7px;
  transition: all .5s;
}

.btn:hover {
  background-color: #eb5c7b;
}

.link {
  color: #ee2568;
  font-weight: bold;
  text-decoration: none;
}

.gray {
  color: #919192;
}

.italic {
  font-style: italic;
}

.askOtherMethode {
  font-size: 10px;
  margin-left: 20px;
  color: #919192;
}

.close {
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 10px;
  right: 12.5px;
  display: block;
  background-size: 100%;
  background: url(./assets/img/quit.svg) no-repeat center;
}

.error {
  font-size: 14px;
  color: #ee2568;
  padding-left: 10px;
}

.termsOfUse {
  font-size: 10px;
  position: absolute;
  bottom: 12.5px;
  left: 12.5px;
  margin: 0;
  color: #c3c3c3;
}
</style>