<div class="browser">

  <div class="control-bar">
    <a href="#" onclick="controlBar.goBack()"><i class="fas fa-arrow-left"></i></a>
    <a href="#" onclick="controlBar.goForward()"><i class="fas fa-arrow-right"></i></a>
    <a href="#" onclick="controlBar.reload()"><i class="fas fa-redo"></i></a>
    <a href="#" onclick="controlBar.makeScreenshot()"><i class="fas fa-cut"></i></a>
  </div>

  <div class="bar" onclick="controlBar.show(0, false)">
    <a href="#" onclick="view.show(0)" class="shuttle-btn"></a>
    <hr>
    <div class="nav-zone">
			<div class="bkms">

			</div>
			<a class="add-btn" onclick="modales.createNewBookmark()"></a>
    </div>
    <div class="mainMenu">
        <hr>
        <a onclick="modales.quickSearch()">
          <i class="fas fa-paper-plane"></i>
        </a>
        <a onclick="EventsEmitter.emit('SHOW_STORE'); EventsEmitter.emit('SHOW_SETTINGS', false)" title="App Store">
          <i class="fas fa-shopping-bag"></i>
        </a>
        <a onclick="EventsEmitter.emit('SHOW_SETTINGS'); EventsEmitter.emit('SHOW_STORE', false)">
          <i class="fas fa-cog"></i>
        </a>
      </div>
  </div>

  <div class="views"></div>
</div>

<div class="settings" onmouseover="controlBar.show(0, false)"></div>
<div class="store" onmouseover="controlBar.show(0, false)"></div>

<style>

</style>