<div class="browser">

  <div class="control-bar">
    <a href="#" onclick="controlBar.goBack()"><i class="fas fa-arrow-left"></i></a>
    <a href="#" onclick="controlBar.goForward()"><i class="fas fa-arrow-right"></i></a>
    <a href="#" onclick="controlBar.reload()"><i class="fas fa-redo"></i></a>
    <a href="#" onclick="controlBar.makeScreenshot()"><i class="fas fa-cut"></i></a>
  </div>

  <div class="bar" onclick="controlBar.show(0, false)">
    <a href="#" onclick="view.show(0)" class="shuttle-btn"></a>
    <hr>
    <div class="nav-zone">
			<div class="bkms">

			</div>
			<a class="add-btn" onclick="modales.createNewBookmark()"></a>
    </div>
    <div class="mainMenu">
        <hr>
        <a onclick="modales.quickSearch()">
          <i class="fas fa-paper-plane"></i>
        </a>
        <a onclick="EventsEmitter.emit('SHOW_STORE'); EventsEmitter.emit('SHOW_SETTINGS', false)" title="App Store">
          <i class="fas fa-shopping-bag"></i>
        </a>
        <a onclick="EventsEmitter.emit('SHOW_SETTINGS'); EventsEmitter.emit('SHOW_STORE', false)">
          <i class="fas fa-cog"></i>
        </a>
      </div>
  </div>

  <div class="views"></div>
</div>

<div class="settings" onmouseover="controlBar.show(0, false)"></div>
<div class="store" onmouseover="controlBar.show(0, false)"></div>

<style>
.browser {
  overflow: hidden;
}

.settings {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 35px;
  z-index: 97;
  background-color: white;
  display: none;
  overflow: auto;
}

.store {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 35px;
  z-index: 96;
  background-color: white;
  display: none;
  overflow: auto;
}

webview {
	background-color: #ffff;
}

.web-content {
  position: absolute;
  left: 35px;
  right: 0;
  top: 0;
	bottom: 0;
	background-color: #ffff;
}

.active {
  opacity: 1;
  z-index: 10;
}

.inactive {
  opacity: 0;
  z-index: 0;
}

::-webkit-scrollbar { 
	width: 0px; 
	height: 0px; 
}

.nav-zone {
	position: absolute;
	top: 50px;
	left: 0;
	bottom: 0px;
	width: 35px;
	overflow: auto;
}

.bar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 35px;
  background-color: #F4F4F4;
}

.bubble-btn {
	margin-top: 4px;
	margin-left: 1.5px;
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	transition: 0.2s;
	background-color: white;
	background-size: 70% auto;
	background-color: #ffff;
	background-repeat: no-repeat;
	background-position: center; 
}
.bubble-btn:hover {
	border-radius: 25%;
}

.add-btn {
	margin-top: 4px;
	margin-left: 4px;
	display: block;
	width: 27px;
	height: 27px;
	transition: 0.2s;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center; 
	background-image: url(assets/img/add.svg);
	transition: 0.5s;
}

.add-btn:hover {
	background-image: url(assets/img/add-hover.svg)
}

hr {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 2.5px;
}

.shuttle-btn {
	margin-top: 11px;
	margin-left: 2px;
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-size: 60% auto;
	background-repeat: no-repeat;
	background-position: center; 
	background-image: url(assets/img/bar-icon.png);
	transition: 0.2s;
}
.shuttle-btn:hover {
	background-image: url(assets/img/bar-icon-hover.png);
}

.control-bar {
  display: none;
	position: absolute;
  top: 50px;
  left: 35px;
  width: 30px;
  height: 128px;
  background-color: #F4F4F4;
  text-align: center;
  transition: 0.35s;
  z-index: 150;
}

.control-bar svg {
	margin-top: 11px;
  color: #CECECE;
  transition: 0.3s;
}

.control-bar svg:hover {
  color: #7F7F7F;
}

.mainMenu {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 34.9px;
  height: 100px;
  background-color: #F4F4F4;
  text-align: center;
}
.svg-inline--fa {
  width: auto;
  height: 1em;
  font-size: 16px;
  margin-top: 7.5px;
  margin-right: 1px;
  text-decoration: none;
  color: #CECECE;
  transition: 0.3s;
}
.svg-inline--fa:hover {
  color: #7F7F7F
}
hr {
  margin: 2.5px 5px 6px;
}
</style>