<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Changelog</title>
		<link rel="stylesheet" href="../assets/css/changelog.css">
		<link rel="stylesheet" href="../assets/css/onepage-scroll.css">
		<script src="../assets/js/onepagescroll.min.js"></script>
		<meta name="robots" content="noindex, nofollow">
	</head>

	<body>
		<div class="main">
			<section class="section1" align="center">
				<div id="searchbarcontainer">
					<div id="searchbar">
						<input type="text" name="search" required="required" onsubmit="openTab(document.querySelector('input[name=search]').value)">
						<span id="background"><span>SEARCH...</span></span>
						<img id="searchsubmit" src="../assets/img/store/search.svg" alt="search">
						<img src="../assets/img/store/close.svg" alt="" id="close">
					</div>
				</div>
				<div id="content">
					<img onmousedown="return false" class="sht-w" src="../assets/img/changelog/changelog-icon.png" alt="S">
					<img onmousedown="return false" class="sht-full" src="../assets/img/changelog/changelog-logo.png" alt="Shuttle">
					<div class="version">3.0.0</div>
					<iframe src="https://api.shuttleapp.io/utils/ad" frameborder="0"></iframe>
					<img class="arrow-w" src="../assets/img/changelog/arrow-w.svg" alt="v" onclick="moveDown('.main')">
				</div><span class="taille"></span><!-- ALLOW COLLAPSE DIV AND SPAN.TAILLE!!!-->
			</section>
			<section class="changelog">
				<img class="arrow-r" src="../assets/img/changelog/arrow-r.svg" alt="^" id="goup" onclick="moveUp('.main')">
				<div id="main">
					<h1>CHANGELOG</h1>
					<h3>New version 3.0</h3>
					<ul>
						<li>Choose your search engine</li>
						<li>Custom context menu</li>
						<li>Reorder your icons</li>
						<li>Sync your bookmarks</li>
					</ul>
				</div><span class="taille"></span>
			</section>
		</div>
	</body>

	<script>
		const searchBar = document.querySelector('input[name=search]')
		let op;
		document.addEventListener('DOMContentLoaded', () => {
			op = onePageScroll(".main", {
				sectionContainer: "section",
				easing: "ease-in-out",
				animationTime: 500,
				pagination: false,
				keyboard: true,
				responsiveFallback: false
			})
			console.log(op);
		})

		searchBar.addEventListener('keyup', (event) => {
		    event.preventDefault()
		    if (event.keyCode === 13) {
		    	if (searchBar !== '') {
					openTab(searchBar.value)
					searchBar.value = ''
		    	}
		    }
		})
	</script>
</html>