<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Changelog</title>
		<link rel="stylesheet" href="../assets/changelog/style.css">
		<meta name="robots" content="noindex, nofollow">
	</head>

	<body>
			<div class="section1" align="center">
				<img onmousedown="return false" class="sht-w" src="../assets/changelog/changelog-icon.png" alt="">
				<img onmousedown="return false" class="sht-full" src="../assets/changelog/changelog-logo.png" alt="">
				<p class="version">3.0.0</p>
				<iframe src="http://localhost:2001/utils/ad" frameborder="0"></iframe>
			</div>
	</body>
</html>