<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Changelog</title>
		<link rel="stylesheet" href="../assets/css/changelog.css">
		<link rel="stylesheet" href="../assets/css/onepage-scroll.css">
		<script src="../assets/js/onepagescroll.min.js"></script>
		<meta name="robots" content="noindex, nofollow">
	</head>

	<body>
		<div class="main">
			<section class="section1" align="center">
				<img onmousedown="return false" class="sht-w" src="../assets/img/changelog/changelog-icon.png" alt="">
				<img onmousedown="return false" class="sht-full" src="../assets/img/changelog/changelog-logo.png" alt="">
				<p class="version">3.0.0</p>
				<iframe src="http://api.shuttleapp.io/utils/ad" frameborder="0"></iframe>
			</section>
			<section class="changelog">
				test
			</section>
		</div>
	</body>

	<script>
		onePageScroll(".main", {
			sectionContainer: "section",
			easing: "ease-in-out",
			animationTime: 500,
			pagination: false,
			keyboard: true,
			responsiveFallback: false
		})
	</script>

</html>