  <br>
  <h1>GENERAL</h1>
  <div class="content">
    <div class="section gray">
      <p id="startAtBoot"></p>
      <label class="switch">
        <input type="checkbox" name="SAboot" onclick="settings.setAutoStart()">
        <span class="slider round"></span>
      </label>
    </div>

    <div class="section white">
      <p id="stayOpen"></p>
      <label class="switch">
        <input type="checkbox" name="SOpen" onclick="settings.setStayOpen()">
        <span class="slider round"></span>
      </label>
    </div>

    <div class="section gray">
      <p id="showFrame"></p>
      <label class="switch">
        <input type="checkbox" name="SFrame" onclick="settings.setShowFrame()">
        <span class="slider round"></span>
      </label>
    </div>
  </div>

  <br>

  <h1 id="bkms"></h1>
  <div class="content">
    <div class="section gray">
      <p id="Export"></p>
      <input type="button" name="download" class="btn" onclick="settings.downloadButton()">
    </div>

    <div class="section white">
      <p id="Import"></p>
      <input type="button" name="upload" class="btn" onclick="settings.uploadButton()">
    </div>

    <div class="section gray">
      <p id="Reset"></p>
      <input type="button" name="reset" class="btn" onclick="settings.resetButton()">
    </div>
  </div>

  <br>

  <h1 id="navigation"></h1>
  <div class="content">
    <div class="section gray">
      <p id="chooseSearchEngine"></p>
      <a href="#" class="selector" onclick="settings.showSearchEngineSelector()"><span class="selector-text">GOOGLE</span> <span class="selector-arrow">▼</span></a>
    </div>
    <div class="selector-list"></div>
    <div class="section white">
      <p id="clearCache"></p>
      <input type="button" name="ccache" class="btn" onclick="settings.clearCacheButton()">
    </div>
  </div>

  <br>

  <h1 id="advanced"></h1>
  <div class="content">
    <div class="section gray">
      <p id="showConsole"></p>
      <input type="button" name="ShowConsole" class="btn" onclick="settings.showConsoleButton()">
    </div>

    <div class="section white">
      <p id="reportBug"></p>
      <input type="button" name="report" class="btn" onclick="settings.reportBugButton()">
    </div>

    <div class="section gray">
      <p id="reportBug"></p>
      <input type="button" name="report" class="btn" onclick="settings.reportBugButton()">
    </div>

  </div>

  <br>

  <h1 id="accountTitle"></h1>
  <div class="content">
    <div class="section gray">
      <p id="accountStatus">Stat</p>
      <input onclick="settings.logout()" type="button" name="logout" id="logoutButton" class="btn-text" value="LOG OUT" />
      <input onclick="EventsEmitter.emit('SHOW_AUTH')" type="button" id="signinButton" name="singin" class="btn-text" value="SIGN IN" />
    </div>

    <div class="section white">
      <p id="accountSettings">Password</p>
      <input type="button" name="accountSettings" class="btn" onclick="settings.changePassword()" disabled>
    </div>

    <div class="section gray">
      <p id="syncButton">Synchronization</p>
      <label class="switch">
        <input type="checkbox" name="syncButton" onclick="settings.setSync()" disabled>
        <span class="slider round"></span>
      </label>
    </div>
  </div>

  <br>
  <br>
  <div class="bar-bottom white">
    <p class="version">VERSION</p>
  </div>
<style>
  @import url(./assets/fonts/SourceSansPro.css);
  
  .section {
    width: 100%;
    height: 30px;
  }
  .white {
    background-color: #ffffff;
    color: #000000;
  }
  .gray {
    background-color: #FAFAFA;
    color: #000000;
  }
  .section .btn {
    margin-top: 6px;
  }
  .section .switch {
    margin-top: 6px;
  }
  .section p {
    position: absolute;
    left: 20px;
    margin-top: 4.5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11pt;
  }
  
  h1 {
    margin-top: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 12pt;
    color: #000000;
    position: absolute;
    left: 20px;
  }
  
  .content {
    margin-top: 40px;
  }
  
  p.version {
    font-family: 'Source Sans Pro', sans-serif;
    color: #C3C3C3;
    position: fixed;
    bottom: 12.5px;
    left: 46.5px;
    margin: 0;
    font-size: 8.5pt;
  }
  
  .bar-bottom {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
  }
  
  .btn-text {
    width: 52px;
    height: 17px;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 22px;
    transition-duration: 0.3s;
    margin-top: 6.5px;
    font-size: 10px;
    color: #e71f5f;
  }
  
  /* button */
  
  .btn  {
    width: 50px;
    height: 17px;
    background-color: #e71f5f;
    border-radius: 34px;
    border:none;
    position: absolute;
    right: 20px;
    transition-duration: 0.3s;
  }
  .btn:hover {
    background-color: #EB5C7B;  
    border-radius: 12px;
  }
  
  input:disabled {
    background-color: #e4e5e5;
  }
  input:disabled:hover {
    background-color: #e4e5e5;
  }
  
  /* Switch button */
  
  .switch {
    position: absolute;
    right: 20px;
    width: 50px;
    height: 17px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #BFBFBE;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #e71f5f;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #e71f5f;
  }
  
  input:checked + .slider:before {
    transform: translateX(31px);
  }
  
  input:disabled + .slider {
    background-color: #e4e5e5;
  }
  
  .selector {
    position: absolute;
    right: 20px;
    top: 362px;
    background-color: transparent;
    border: none;
    color: #bfbebd;
    text-decoration: none;
  }

  .selector-text {
    margin-right: 10px;
  }

  .selector-arrow {
    font-size: 10px;
    position: relative;
    top: -2.5px;
  }

  .selector-list {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 888;
    background-color: white;
    display: none;
  }

  .selector-list-buttons {
    width: auto;
    height: 15px;
    border-radius: 25px;
    font-size: 13px;
    border: solid 1px #bfbebd;
    text-decoration: none;
    margin-top: 6px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    color: #bfbebd;
    float: left;
  }

  .selector-list-buttons-selected {
    background-color: #bfbebd;
    color: white;
  }

  .search-engine-select {
      width: auto;
      height: 10px;
      float: left;
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  ::-webkit-scrollbar {
    width: 5px; height: 0px;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: grey;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }
  
  ::selection {
    color: #eb5c7b;
    background: #f9f6f0;
  }  
</style>