  <br>
  <h1>GENERAL</h1>
  <div class="content">
    <div class="section gray">
      <p id="startAtBoot"></p>
      <label class="switch">
        <input type="checkbox" name="SAboot" onclick="settings.setAutoStart()">
        <span class="slider round"></span>
      </label>
    </div>

    <div class="section white">
      <p id="stayOpen"></p>
      <label class="switch">
        <input type="checkbox" name="SOpen" onclick="settings.setStayOpen()">
        <span class="slider round"></span>
      </label>
    </div>

    <div class="section gray">
      <p id="showFrame"></p>
      <label class="switch">
        <input type="checkbox" name="SFrame" onclick="settings.setShowFrame()">
        <span class="slider round"></span>
      </label>
    </div>
  </div>

  <br>

  <h1 id="bkms"></h1>
  <div class="content">
    <div class="section gray">
      <p id="Export"></p>
      <input type="button" name="download" class="btn" onclick="settings.downloadButton()">
    </div>

    <div class="section white">
      <p id="Import"></p>
      <input type="button" name="upload" class="btn" onclick="settings.uploadButton()">
    </div>

    <div class="section gray">
      <p id="Reset"></p>
      <input type="button" name="reset" class="btn" onclick="settings.resetButton()">
    </div>
  </div>

  <br>

  <h1 id="quicksearch"></h1>
  <div class="content">
    <div class="section gray">
      <p id="chooseSearchEngine"></p>
      <select name="chooseSearchEngine" class="selector" onchange="settings.chooseSearchEngine()"></select>
    </div>
  </div>

  <br>

  <h1 id="advanced"></h1>
  <div class="content">
    <div class="section gray">
      <p id="showConsole"></p>
      <input type="button" name="ShowConsole" class="btn" onclick="settings.showConsoleButton()">
    </div>

    <div class="section white">
      <p id="clearCache"></p>
      <input type="button" name="ccache" class="btn" onclick="settings.clearCacheButton()">
    </div>

    <div class="section gray">
      <p id="reportBug"></p>
      <input type="button" name="report" class="btn" onclick="settings.reportBugButton()">
    </div>

  </div>

  <br>

  <h1 id="accountTitle"></h1>
  <div class="content">
    <div class="section gray">
      <p id="formButton">Account</p>
      <input onclick="settings.logout()" type="button" name="logout" class="btn-text" value="LOG OUT" />
      <input onclick="EventsEmitter.emit('SHOW_AUTH')" type="button" name="singin" class="btn-text" value="SIGN IN" />
    </div>

    <div class="section white">
      <p id="accountSettings">Account settings</p>
      <input type="button" name="accountSettings" class="btn" disabled>
    </div>

    <div class="section gray">
      <p id="syncButton">Synchronization</p>
      <label class="switch">
        <input type="checkbox" name="syncButton" onclick="settings.setSync()" disabled>
        <span class="slider round"></span>
      </label>
    </div>

  </div>

  <br>
  <br>
  <div class="bar-bottom white">
    <p class="version">VERSION</p>
  </div>