  <br>
  <h1>GENERAL</h1>
  <div class="content">
    <div class="section gray">
      <p id="startAtBoot"></p>
      <label class="switch">
        <input type="checkbox" name="SAboot" onclick="settings.setAutoStart()">
        <span class="slider round"></span>
      </label>
    </div>

    <div class="section white">
      <p id="stayOpen"></p>
      <label class="switch">
        <input type="checkbox" name="SOpen" onclick="settings.setStayOpen()">
        <span class="slider round"></span>
      </label>
    </div>

    <div class="section gray">
      <p id="showFrame"></p>
      <label class="switch">
        <input type="checkbox" name="SFrame" onclick="settings.setShowFrame()">
        <span class="slider round"></span>
      </label>
    </div>
  </div>

  <br>

  <h1 id="bkms"></h1>
  <div class="content">
    <div class="section gray">
      <p id="Export"></p>
      <input type="button" name="download" class="btn" onclick="settings.downloadButton()">
    </div>

    <div class="section white">
      <p id="Import"></p>
      <input type="button" name="upload" class="btn" onclick="settings.uploadButton()">
    </div>

    <div class="section gray">
      <p id="Reset"></p>
      <input type="button" name="reset" class="btn" onclick="settings.resetButton()">
    </div>
  </div>

  <br>

  <h1 id="navigation"></h1>
  <div class="content">
    <div class="section gray">
      <p id="chooseSearchEngine"></p>
      <a href="#" class="selector" onclick="settings.showSearchEngineSelector()"><span class="selector-text">GOOGLE</span> <span class="selector-arrow">▼</span></a>
    </div>
    <div class="selector-list"></div>
    <div class="section white">
      <p id="clearCache"></p>
      <input type="button" name="ccache" class="btn" onclick="settings.clearCacheButton()">
    </div>
    <div class="section gray">
      <p id="historyText"></p>
      <input type="button" name="historyBtn" class="btn" onclick="settings.showHistory(true)">
    </div>
  </div>

  <br>

  <h1 id="advanced"></h1>
  <div class="content">
    <div class="section gray">
      <p id="showConsole"></p>
      <input type="button" name="ShowConsole" class="btn" onclick="settings.showConsoleButton()">
    </div>

    <div class="section white">
      <p id="reportBug"></p>
      <input type="button" name="report" class="btn" onclick="settings.reportBugButton()">
    </div>

    <div class="section gray">
      <p id="blockDangerousWebsite"></p>
      <label class="switch">
        <input type="checkbox" name="blockDangerousWebsiteBox" onclick="settings.setWebsiteBlocking()">
        <span class="slider round"></span>
      </label>
    </div>

  </div>

  <br>

  <h1 id="accountTitle"></h1>
  <div class="content">
    <div class="section gray">
      <p id="accountStatus">Stat</p>
      <input onclick="settings.logout()" type="button" name="logout" id="logoutButton" class="btn-text" value="LOG OUT" />
      <input onclick="EventsEmitter.emit('SHOW_AUTH')" type="button" id="signinButton" name="singin" class="btn-text" value="SIGN IN" />
    </div>

    <div class="section gray">
      <p id="syncButton"></p>
      <label class="switch">
        <input type="checkbox" name="syncButton" onclick="settings.setSync()" disabled>
        <span class="slider round"></span>
      </label>
    </div>
  </div>

  <br>
  <br>
  <div class="bar-bottom white">
    <p class="version">VERSION</p>
  </div>

  <div class="historyModal">
    <h1 class="history-modale-title"></h1>
    <a href="#" onclick="settings.showHistory(false)" class="history-modale-close-button"><img src="./assets/img/store/close.svg" alt="X"></a>
    <div class="history-modale-list-wrapper"></div>
    <div id="noactivity">
      <img src="./assets/img/no-activity.svg" alt="No activity">
      <h2 id="history_no_ativity_title"></h2>
      <p id="history_no_activity_p"></p>
      <a href="#" onclick="view.show(0)" id="history_start_use"></a>
    </div>
    <a href="#" onclick="settings.clearHistory()" class="history-modale-clear-button">Clear all</a>
  </div>

<style>
  @import url(./assets/fonts/SourceSansPro.css);
  @import url(./assets/fonts/Inconsolata.css);

  .historyModal {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 35px;
    right: 0px;
    background-color: white;
    z-index: 888;
    display: none;
    overflow: auto;
    border: 16px solid rgba(0, 0, 0, 0.5)
  }

  .history-modale-title {
    font-size: 30px;
    margin-top: 29px;
  }

  .history-modale-close-button {
    text-align: center;
    position: absolute;
    right: 37px;
    top: 36px;
  }
  .history-modale-close-button img {
    height: 30px;
    transform: scale(0.4);
  }

  .history-modale-list-wrapper {
    position: absolute;
    top: 87px;
    left: 20px;
    right: 20px;
    bottom: 80px;
    overflow: auto;
    font-family: 'Inconsolata';
  }
  
  .history-item {
    height: 2em;
    color: #919192;
    text-align: center;
    font-size: .82em;
  }

  .history-item > span {
    padding: .5em 0;
    height: 1em;
    vertical-align: middle;
    line-height: 1em;
  }

  .history-item-date {
    display: inline-block;
    width: 30%;
    padding: 0 .5em;
  }

   .history-item > .history-item-content {
    display: inline-block;
    width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .history-item-content span {
    color: black;
    font-weight: bold;
  }

  .history-item-remove {
    display: inline-block;
    width: 20%;
  }
  .history-item-remove img {
    height: 12px;
  }

  div#noactivity {
    display: none;
  }

  .history-modale-list-wrapper:empty + div#noactivity {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    font-size: .8em;
    text-align: center;
    font-weight: 300;
    width: 70%;
  }

  #noactivity img {
    height: 65px;
  }

  #history_no_ativity_title {
    font-weight: 300;
  }

  #history_no_activity_p {
    font-weight: 300;
    color: #919192;
  }

  #history_start_use {
    text-decoration: none;
    color: #e71f5f;
    font-weight: regular;
  }

  .history-modale-list-item {
    float: left;
    position: absolute;
  }

  .history-modale-clear-button {
    text-decoration: none;
    position: absolute;
    bottom: 30px;
    right: 20px;
    color: #E71F5F;
  }

  .section {
    width: 100%;
    height: 30px;
  }
  .white {
    background-color: #ffffff;
    color: #000000;
  }
  .gray {
    background-color: #FAFAFA;
    color: #000000;
  }
  .section .btn {
    margin-top: 6px;
  }
  .section .switch {
    margin-top: 6px;
  }
  .section p {
    position: absolute;
    left: 20px;
    margin-top: 4.5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11pt;
  }
  
  h1 {
    margin-top: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 12pt;
    color: #000000;
    position: absolute;
    left: 20px;
  }
  
  .content {
    margin-top: 40px;
  }
  
  p.version {
    font-family: 'Source Sans Pro', sans-serif;
    color: #C3C3C3;
    position: fixed;
    bottom: 12.5px;
    left: 46.5px;
    margin: 0;
    font-size: 8.5pt;
  }
  
  .bar-bottom {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
  }
  
  .btn-text {
    width: auto;
    height: 17px;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 22px;
    transition-duration: 0.3s;
    margin-top: 6.5px;
    font-size: 10px;
    color: #e71f5f;
  }
  
  /* button */
  
  .btn  {
    width: 50px;
    height: 17px;
    background-color: #e71f5f;
    border-radius: 34px;
    border:none;
    position: absolute;
    right: 20px;
    transition-duration: 0.3s;
  }
  .btn:hover {
    background-color: #EB5C7B;  
    border-radius: 12px;
  }
  
  input:disabled {
    background-color: #e4e5e5;
  }
  input:disabled:hover {
    background-color: #e4e5e5;
  }

  #signinButton {
    text-transform: uppercase;
  }
  
  /* Switch button */
  
  .switch {
    position: absolute;
    right: 20px;
    width: 50px;
    height: 17px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #BFBFBE;
    -webkit-transition: .4s;
    transition: .4s;
    height: 18px;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #e71f5f;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #e71f5f;
  }
  
  input:checked + .slider:before {
    transform: translateX(32px);
  }
  
  input:disabled + .slider {
    background-color: #e4e5e5;
  }
  
  .selector {
    position: absolute;
    right: 20px;
    top: 366px;
    background-color: transparent;
    border: none;
    color: #bfbebd;
    text-decoration: none;
  }

  .selector-text {
    margin-right: 10px;
  }

  .selector-arrow {
    font-size: 10px;
    position: relative;
    top: -2.5px;
  }

  .selector-list {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 888;
    background-color: white;
    display: none;
  }

  .selector-list-buttons {
    width: auto;
    height: 15px;
    border-radius: 25px;
    font-size: 13px;
    border: solid 1px #bfbebd;
    text-decoration: none;
    margin-top: 6px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    color: #bfbebd;
    float: left;
  }

  .selector-list-buttons-selected {
    background-color: #bfbebd;
    color: white;
  }

  .search-engine-select {
      width: auto;
      height: 10px;
      float: left;
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 9px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  ::-webkit-scrollbar {
    width: 5px; height: 0px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .15)
  }
  ::-webkit-scrollbar-thumb {
    background: #7d7d7d;
  }
  
  ::selection {
    color: #eb5c7b;
    background: #f9f6f0;
  }  
</style>