<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>No internet</title>

<style>
	@font-face {
	    font-family: Light;
	    src: url(/assets/fonts/SourceSanPro-Light.ttf);
	}
	html {
		overflow: hidden;
		font-family: 'Light';
	}

	img {
		position: absolute;
		left: 50%; top: 40%;
		transform: translate(-50%);
		width: 25%;
	}

	h3 {
		position: absolute;
		left: 50%; top: 55%;
		transform: translate(-50%);
		font-family: 'Source Sans Pro Light', sans-serif;
		font-size: 11.5pt;
	}
</style>

</head>
<body>
<div class="bg"></div>
<img src="/assets/img/noint.svg" alt="">
<h3>NO INTERNET CONNECTION</h3>
</body>
</html>